<%
  const has_fields = typeof fields != 'undefined';
  const current_password = has_fields ? fields.current_password : null;
  const new_password = has_fields ? fields.new_password : null;
%>

<form class="form" hx-post="/change-password">
  <div class="form__item">
    <label for="current_password">Current Password</label>
    <input 
      name="current_password"
      type="password" 
      class="<%=current_password?.error?' error':null%>"
      value="<%= current_password?.value %>" 
      maxlength="20" 
    />
    <div class="form__error"><%=current_password?.error%></div>
  </div>
  <div class="form__item">
    <label for="new_password">New Password</label>
    <input 
      name="new_password" 
      type="password"
      class="<%=new_password?.error?' error':null%>" 
      value="<%= new_password?.value %>" 
      maxlength="255" 
    />
    <div class="form__error"><%=new_password?.error%></div>
  </div>
  <div class="form__actions">
    <button class="form__btn btn-primary elevated" type="submit">
      Save
    </button>
  </div>
</form>