<%
  const has_fields  = typeof fields != 'undefined';
  const username    = has_fields ? fields.username : null;
  const email       = has_fields ? fields.email : null;
  const password    = has_fields ? fields.password : null;
%>

<form class="form" hx-post="/users" hx-swap="outerHTML">
  <div class="form__item">
    <label class="form__label" for="username">Username</label>
    <input
      class="<%=username?.error?' error':null%>"
      name="username"
      maxlength="20"
      required
      value="<%=username?.value%>"
    />
    <div class="form__error"><%=username?.error%></div>
  </div>
  <div class="form__item">
    <label class="form__label" for="email">Email</label>
    <input
      class="<%=email?.error?' error':null%>"
      name="email"
      type="email"
      maxlength="255"
      required
      value="<%=email?.value%>"
    />
    <div class="form__error"><%=email?.error%></div>
  </div>
  <div class="form__item">
    <label class="form__label" for="password">Password</label>
    <input
      class="form__input<%=password?.error?' error':null%>"
      name="password"
      type="password"
      maxlength="50"
      required
      value="<%=password?.value%>"
    />
    <div class="form__error"><%=password?.error%></div>
  </div>
  <div class="form__actions">
    <button class="form__btn btn-primary elevated" type="submit">Create</button>
  </div>
</form>
