<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="page">
      <div class="page__title-area">
        <h1>Users</h1>
        <a href="/users/create">
          <button class="btn-primary">
            Add a user
          </button>
        </a>
      </div>
      <table class="table elevated">
        <thead class="table__header">
          <th>Username</th>
          <th>Email Address</th>
          <th></th>
        </thead>
        <tbody>
          <% users.forEach(function(user){ %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td class="table__actions">
              <a class="table__link" href="/users/<%=user.id%>/permissions">
                <button class="btn-info elevated">Manage Permissions</button>
              </a>
              <a class="table__link" href="/users/<%=user.id%>" tabindex="-1">
                <button class="btn-info elevated">Edit Profile</button>
              </a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
  </body>
</html>
